/node_modules
/vendor
.idea
.vscode
.env
Homestead.json
Homestead.yaml
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
error.log
Todo.rtf
.vagrant
/.vagrant
npm-debug.log
yarn-error.log
phpunit.txt
composer.lock
package-lock.json
yarn.json
/package-lock.json
